@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: white;
  background-size: 400% 400%;
  color: black;
}

#root {
  min-height: 100vh;
  width: 100%;
}

.circles-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.circles-bg span {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: #10b981;
  border-radius: 50%;
  animation: float 20s linear infinite;
}


.circles-bg span:nth-child(1) {
  top: 100%;
  left: 10%;
  width: 40px;
  height: 40px;
  animation-duration: 22s;
}
.circles-bg span:nth-child(2) {
  top: 110%;
  left: 25%;
  animation-duration: 18s;
}
.circles-bg span:nth-child(3) {
  top: 120%;
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 25s;
}
.circles-bg span:nth-child(4) {
  top: 115%;
  left: 55%;
  animation-duration: 20s;
}
.circles-bg span:nth-child(5) {
  top: 105%;
  left: 70%;
  width: 35px;
  height: 35px;
  animation-duration: 23s;
}


@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-130vh) scale(0.8);
    opacity: 0;
  }
}
@keyframes gradientMotion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
